@font-face {
    font-family: SF;
    src: url( /resources/fonts/SF-UI/SF-UI-Display-Light.otf );
    font-weight: normal;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: SF;
    color: white;
    background: linear-gradient(to bottom, rgba(10,44,78,1) 0%, rgba(56,127,169,1) 24%, rgba(132,188,187,1) 41%, rgba(166,200,171,1) 59%, rgba(226,166,93,1) 79%, rgba(243,147,45,1) 100%);
}

body {

}

#title {
    height: 70px;
    line-height: 70px;
    margin-left: 20px;
    padding-top: 20px;
}
    #title #img-title {
        width: 70px;
        height: 70px;
        margin-right: 10px;
        border-radius: 50%;
        vertical-align: middle;
        font-weight: 300;
    }

    #title #text-title {
        font-size: 21px;
        color: rgba(255, 255, 255, 0.8);
    }

a,
a:hover {
    text-decoration: none;
}

.block {
    display: block;
}
.inline-block {
    display: inline-block;
}

.zoomed {
    transform: scale(1.5);
}



.badges-container {
    width: 100%;
    text-align: center;
}

.bagde-container {
    display: inline-block;
    margin: 30px;
    text-align: center;
    width: 164px;
}
    .bagde-container .badge-img {
        width: 150px;
        height: 150px;
        box-shadow: 0px 0px 25px rgba( 0, 0, 0, 0.25 );
        border-radius: 35px;
    }
    .bagde-container .badge-text {
        text-shadow: 0px 0px 25px #000;
        font-size: 21px;
        color: white !important;
    }

@media screen and (max-width: 700px) {
    #title {
        margin-bottom: 40px;
    }

    .bagde-container {
        display: inline-block;
        margin: 20px 10px 0 0;
        text-align: center;
        width: 164px;
    }
        .bagde-container .badge-img {
            width: 100px;
            height: 100px;
            box-shadow: 0px 0px 25px rgba( 0, 0, 0, 0.25 );
            border-radius: 25px;
        }
        .bagde-container .badge-text {
            text-shadow: 0px 0px 25px #000;
            font-size: 18px;
            color: white;
        }
}

@media screen and (max-width: 550px) {
    #title {
        margin-bottom: 40px;
    }

    .bagde-container {
        display: inline-block;
        margin: 20px 10px 0 0;
        text-align: center;
        width: 130px;
    }
        .bagde-container .badge-img {
            width: 60px;
            height: 60px;
            box-shadow: 0px 0px 25px rgba( 0, 0, 0, 0.25 );
            border-radius: 15px;
        }
        .bagde-container .badge-text {
            text-shadow: 0px 0px 25px #000;
            font-size: 15px;
            color: white;
        }
}

@media screen and (max-width: 430px) {
    #title {
        margin-bottom: 20px;
    }
        #title #text-title {
            font-size: 17px;
        }

    .bagde-container {
        display: inline-block;
        margin: 20px 0 0 0;
        text-align: center;
        width: 110px;
    }
        .bagde-container .badge-img {
            width: 50px;
            height: 50px;
            box-shadow: 0px 0px 25px rgba( 0, 0, 0, 0.25 );
            border-radius: 10px;
        }
        .bagde-container .badge-text {
            text-shadow: 0px 0px 25px #000;
            font-size: 13px;
            color: white;
        }
}
